#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



body {
  width: 100%;
  background-color: antiquewhite!important;
flex: 1;
}




.form{
  display: flex;
  flex-direction: column;
  width: 75%;
text-align: center;
margin: auto;
font-size: 40px;
background-color: rgb(231, 166, 166);
padding-left: 5em;
padding-right: 5em;
padding-bottom: 10px;

}


.form-button {
  width: 20%;
 flex: 1;
 align-self: center;
}
.form-control {
  width: 50%;
  text-align: center;
  margin: auto;

}


h2 {
  text-align: center;
} 


.header {
  text-align: center;
  background-color:rgb(97, 165, 220);
padding: 1em;
margin-bottom: 50px;
}



.map  {
  background-color: rgba(0, 76, 255, 0.639);
  text-align: center;
  width: 50%;
padding: 20px;

}

.figure-img {
  width: 100%;
}
